@model IEnumerable<MVC.Models.Customers>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<h2>Customers</h2>
    @if (!Model.Any())
    {
    <h3>We don't have any customers yet</h3>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <thead>
                <th>Name</th>
                <th>Membership Type</th>
            </thead>
            <tbody>
                @foreach (var customers in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(customers.Name,"Details","Customer",new { id = customers.Id},null)</td>
                        <td>@customers.MembershipType.Name</td>                    
                    </tr>

                }
            </tbody>
        </table>    

        
    }
